ios/ti.nfc.xcodeproj/xcuserdata/*
ios/ti.nfc.xcodeproj/project.xcworkspace/xcuserdata/*
/ios/metadata.json
/ios/build
ios/ti.nfc-iphone-*.zip
/android/build
/android/java-sources.txt
ios/ti.nfc.xcodeproj/project.xcworkspace/xcshareddata
.DS_Store
/ios/dist
