ios/ti.nfc.xcodeproj/xcuserdata/*
ios/ti.nfc.xcodeproj/project.xcworkspace/xcuserdata/*
ios/ti.nfc.xcodeproj/project.xcworkspace/xcshareddata
/ios/metadata.json
/ios/build
/ios/dist
/ios/ti.nfc-iphone-*.zip

/android/build
/android/dist
/android/java-sources.txt

node_modules/
TESTS-*.xml
